<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <connectionStrings>
        <add name="StepKolCargo" connectionString="Data Source=MAINAPP\BKUPEXEC;Initial Catalog=KolyadichiXmlReader;Integrated Security=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
<appSettings>
     <add key="KolFolder" value="\\10.19.44.10\volume_1\tamuved\kol\Processed\testing\"/>
    <!--<add key="KolFolder" value="\\10.19.44.10\volume_1\tamuved\kol\Processed\"/>-->
    <!--<add key="StepFolder" value="\\10.19.44.10\volume_1\tamuved\step\Processed\"/>-->
    <add key="StepFolder" value="\\10.19.44.10\volume_1\tamuved\step\Processed\testing\"/>
    <add key="ProcessedKolFolder" value="\\10.19.44.10\volume_1\tamuved\step\Processed\temp\"/>
  <!--<add key="ProcessedKolFolder" value="\\10.19.44.10\volume_1\tamuved\kol\Processed\"/>-->
    <!--<add key="ProcessedStepFolder" value="\\10.19.44.10\volume_1\tamuved\step\Processed\"/>-->
    <add key="ProcessedStepFolder" value="\\10.19.44.10\volume_1\tamuved\kol\Processed\temp\"/>
  </appSettings>
</configuration>
 