<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <connectionStrings>
        <add name="KolCargo" connectionString="Data Source=RUDICHPC;Initial Catalog=xmlVagons;Integrated Security=True;" providerName="System.Data.SqlClient" />
    </connectionStrings>
<appSettings>
    <add key="RootFolder" value="C:\Users\a.rudich\Desktop\Test\"/>
    <add key="ProcessedFolder" value="C:\Users\a.rudich\Desktop\Test\ProcessedFolder\"/>
  </appSettings>
</configuration>
 