<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <connectionStrings>
        <add name="KolCargo" connectionString="Data Source=RUDICHPC;Initial Catalog=xmlVagons;Integrated Security=True;" providerName="System.Data.SqlClient" />
        <add name="StepCargo" connectionString="Data Source=RUDICHPC;Initial Catalog=xmlVagons;Integrated Security=True;" providerName="System.Data.SqlClient" />
    </connectionStrings>
<appSettings>
    <add key="KolFolder" value="\\10.19.44.10\volume_1\tamuved\kol\Processed\"/>
    <add key="StepFolder" value="\\10.19.44.10\volume_1\tamuved\step\Processed\"/>
    <add key="ProcessedKolFolder" value="\\10.19.44.10\volume_1\tamuved\kol\Processed\"/>
    <add key="ProcessedStepFolder" value="\\10.19.44.10\volume_1\tamuved\step\Processed\"/>
  </appSettings>
</configuration>
 